$fontsFolderPath = '../../../assets/fonts'

$notoSansPath = $fontsFolderPath + '/noto'
$myriadSetProPath = $fontsFolderPath + '/myriad-set-pro'
$ubuntuMonoPath = $fontsFolderPath + '/ubuntu'

$ubuntuMonoRegular = 'UbuntuMono-R'
$ubuntuMonoRegularItalic = 'UbuntuMono-RI'
$ubuntuMonoBold = 'UbuntuMono-B'
$ubuntuMonoBoldItalic = 'UbuntuMono-BI'

$notoSansRegular = 'NotoSans-Regular'
$notoSansRegularItalic = 'NotoSans-Italic'
$notoSansBold = 'NotoSans-Bold'
$notoSansBoldItalic = 'NotoSans-BoldItalic'

$myriadSetProUltraLight = 'myriad-set-pro_ultralight'
$myriadSetProUltraLightItalic = 'myriad-set-pro_ultralight-italic'
$myriadSetProThin = 'myriad-set-pro_thin'
$myriadSetProThinItalic = 'myriad-set-pro_thin-italic'
$myriadSetProText = 'myriad-set-pro_text'
$myriadSetProTextItalic = 'myriad-set-pro_text-italic'
$myriadSetProSemibold = 'myriad-set-pro_semibold'
$myriadSetProSemiboldItalic = 'myriad-set-pro_semibold-italic'
$myriadSetProMedium = 'myriad-set-pro_medium'
$myriadSetProMediumItalic = 'myriad-set-pro_medium-italic'
$myriadSetProBold = 'myriad-set-pro_bold'
$myriadSetProBoldItalic = 'myriad-set-pro_bold-italic'