$ubuntuMonoFolderPath = '../../../assets/fonts/ubuntu/'

$ubuntuMonoRegularFileName = 'UbuntuMono-R.ttf'
$ubuntuMonoRegularItalicFileName = 'UbuntuMono-RI.ttf'
$ubuntuMonoBoldFileName = 'UbuntuMono-B.ttf'
$ubuntuMonoBoldItalicFileName = 'UbuntuMono-BI.ttf'

$ubuntuMonoRegularUrl = $ubuntuMonoFolderPath + $ubuntuMonoRegularFileName
$ubuntuMonoRegularItalicUrl = $ubuntuMonoFolderPath + $ubuntuMonoRegularItalicFileName
$ubuntuMonoBoldUrl = $ubuntuMonoFolderPath + $ubuntuMonoBoldFileName
$ubuntuMonoBoldItalicUrl = $ubuntuMonoFolderPath + $ubuntuMonoBoldItalicFileName