@import '../mixins.styl'
@import '../variables.styl'

font-face-inline('Myriad Set Pro', $myriadSetProUltraLight, $myriadSetProPath, 100, normal)
font-face-inline('Myriad Set Pro', $myriadSetProUltraLightItalic, $myriadSetProPath, 100, italic)
font-face-inline('Myriad Set Pro', $myriadSetProThin, $myriadSetProPath, 200, normal)
font-face-inline('Myriad Set Pro', $myriadSetProThinItalic, $myriadSetProPath, 200, italic)
font-face-inline('Myriad Set Pro', $myriadSetProText, $myriadSetProPath, 400, normal)
font-face-inline('Myriad Set Pro', $myriadSetProTextItalic, $myriadSetProPath, 400, italic)
font-face-inline('Myriad Set Pro', $myriadSetProSemibold, $myriadSetProPath, 500, normal)
font-face-inline('Myriad Set Pro', $myriadSetProSemiboldItalic, $myriadSetProPath, 500, italic)
font-face-inline('Myriad Set Pro', $myriadSetProMedium, $myriadSetProPath, 600, normal)
font-face-inline('Myriad Set Pro', $myriadSetProMediumItalic, $myriadSetProPath, 600, italic)
font-face-inline('Myriad Set Pro', $myriadSetProBold, $myriadSetProPath, 700, normal)
font-face-inline('Myriad Set Pro', $myriadSetProBoldItalic, $myriadSetProPath, 700, italic)
