@import '../mixins.styl'
@import '../variables.styl'

font-face('Ubuntu Mono', $ubuntuMonoRegular, $ubuntuMonoPath, normal, normal)
font-face('Ubuntu Mono', $ubuntuMonoRegularItalic, $ubuntuMonoPath, normal, italic)
font-face('Ubuntu Mono', $ubuntuMonoBold, $ubuntuMonoPath, bold, normal)
font-face('Ubuntu Mono', $ubuntuMonoBoldItalic, $ubuntuMonoPath, bold, italic)