<div class="page-header">
  <h1>Home Component</h1>
</div>

<div class="well well-sm">
  <dynamic-form [questions]="questions"></dynamic-form>
</div>
<div class="well well-sm">
  <p>
    Hip!
  </p>
  <template [unless]="isVisible">
    <p>
      Hop!
    </p>
  </template>
  <p *unless="isVisible">
    Hooray!
  </p>
</div>

<infinite-table [data]="data"></infinite-table>

<!--<div class="well well-sm">-->
  <!--<tabs>-->
    <!--<tab id="home" title="Home">-->
      <!--<div>Hello Home</div>-->
    <!--</tab>-->
    <!--<tab id="profile" title="Profile">-->
      <!--<div>Hello Profile</div>-->
    <!--</tab>-->
    <!--<tab id="messages" title="Messages">-->
      <!--<div>Hello Messages</div>-->
    <!--</tab>-->
    <!--<tab id="settings" title="Settings">-->
      <!--<div>Hello Settings</div>-->
    <!--</tab>-->
  <!--</tabs>-->
<!--</div>-->
