<div class="page-header">
    <h1>Contacts Component {{username}}</h1>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
            <fieldset ngModelGroup="user-credentials">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="search"
                           id="name"
                           name="name"
                           class="form-control input-lg"
                           placeholder="Username"
                           required
                           ngModel
                    >
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control input-lg"
                           placeholder="Password"
                           required
                           ngModel
                    >
                </div>
            </fieldset>
            <fieldset ngModelGroup="user-location">
                <div class="form-group">
                    <div class="radio" *ngFor="let location of locations">
                        <label [attr.for]="location">
                            <input type="radio"
                                   [id]="location"
                                   name="radio-location"
                                   [value]="location"
                                   ngModel
                            >
                            {{location}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select-location" class="sr-only"></label>
                    <select [ngModel]="location" name="select-location" id="select-location" class="form-control">
                        <option *ngFor="let location of locations" [value]="location">{{location}}</option>
                    </select>
                </div>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-lg">Submit</button>
            </div>
        </form>
    </div>
</div>