@import '../mixins.styl'
@import '../variables.styl'

font-face('Noto Sans', $notoSansRegular, $notoSansPath, normal, normal)
font-face('Noto Sans', $notoSansRegularItalic, $notoSansPath, normal, italic)
font-face('Noto Sans', $notoSansBold, $notoSansPath, bold, normal)
font-face('Noto Sans', $notoSansBoldItalic, $notoSansPath, bold, italic)