@import "../variables.styl"

@font-face
  font-family Ubuntu Mono
  font-style normal
  font-weight normal
  src url($ubuntuMonoRegularUrl)

@font-face
  font-family Ubuntu Mono
  font-style italic
  font-weight normal
  src url($ubuntuMonoRegularItalicUrl)

@font-face
  font-family Ubuntu Mono
  font-style normal
  font-weight bold
  src url($ubuntuMonoBoldUrl)

@font-face
  font-family Ubuntu Mono
  font-style italic
  font-weight bold
  src url($ubuntuMonoBoldItalicUrl)