@font-face
  font-family Ubuntu Mono
  font-style normal
  font-weight normal
  src url(../../assets/fonts/UbuntuMono-R.ttf)

@font-face
  font-family Ubuntu Mono
  font-style italic
  font-weight normal
  src url(../../assets/fonts/UbuntuMono-RI.ttf)

@font-face
  font-family Ubuntu Mono
  font-style normal
  font-weight bold
  src url(../../assets/fonts/UbuntuMono-B.ttf)

@font-face
  font-family Ubuntu Mono
  font-style italic
  font-weight bold
  src url(../../assets/fonts/UbuntuMono-BI.ttf)

body
  font-family "Ubuntu Mono", sans-serif

a:hover
  cursor pointer

.nav li.active a
  border-radius 4px

.nav a
  font-weight 600
  text-transform capitalize