<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse"
                    aria-expanded="false"
            >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Angular2App</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li [routerLink]="(navbar$ | async).items.get('github').url"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <a [@itemState]="navbarService.isActiveRoute((navbar$ | async).items.get('github').url)">
                        {{(navbar$ | async).items.get('github').name}}
                    </a>
                </li>
                <li class="dropdown" *ngFor="let item of (navbar$ | async).dropdowns" dropdown [item]="item"></li>
            </ul>
            <p class="navbar-text navbar-right" *ngIf="authService.authenticated">
                Signed in as <a [routerLink]="(navbar$ | async).items.get('profile').url" class="navbar-link">{{authService.user.name}}</a>
            </p>
            <ul class="nav navbar-nav navbar-right" *ngIf="!authService.authenticated">
                <li>
                    <button type="button" class="btn btn-default navbar-btn" (click)="onSignIn()">
                        <i class="fa fa-github fa-fw" aria-hidden="true"></i>&nbsp;Sign in
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>