.infinite-table-header
  > table
    display flex
    flex-flow column
    width 100%
    margin-bottom 0

    > thead
      flex 0 0 auto
      width calc(100% - 17px)
      display table
      table-layout fixed


.infinite-table-content
  position relative
  height 380px
  overflow-x hidden

  > table
    display: flex;
    flex-flow: column;
    width: 100%;

    tbody
      flex: 1 1 auto

      tr
        height 38px
        width 100%
        display table
        table-layout fixed
        position absolute