<div>

  <header #headerRef>
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th *ngFor="let column of columns">{{column.title}}</th>
      </tr>
      </thead>
    </table>
  </header>

  <main #contentRef content
        [contentHeight]="contentHeight"
        (onScroll)="onScroll$.next($event)">

    <table #bodyRef
        [style.height.px]="totalHeight"
        cellpadding="0"
        cellspacing="0"
        border="0">
      <tbody>
      <tr *ngFor="let item of (visibleData$ | async); trackBy: item?.id"
          [style.top.px]="positionHandler(item.id)">
        <td>{{item.id}}</td>
        <td>{{item.firstName}}</td>
      </tr>
      </tbody>
    </table>
  </main>

</div>
