.infinite-table-header
  > table
    margin-bottom 0
    width calc(100% - 17px)


.infinite-table-content
  position relative
  height 380px
  overflow-x hidden

  > table
    display: flex;
    flex-flow: column;
    width: 100%;

    tbody
      flex: 1 1 auto;
      tr
        width 100%
        display table
        table-layout fixed
        position absolute