@import '~normalize-styl'
@import 'fonts/ubuntu.styl'
@import 'fonts/noto.styl'
@import 'fonts/myriad-set-pro.styl'

*
  box-sizing border-box

body
  font-family 'Myriad Set Pro', "Helvetica Neue", Helvetica, Arial, sans-serif

a:hover
  cursor pointer

.nav li.active a
  border-radius 4px

.nav a
  font-weight 600
  text-transform capitalize