$innerBoxWidth = 150px
$innerBoxHeight = 150px

$largeCircleColor = #3498db
$mediumCircleColor = #e74c3c
$smallCircleColor = #f9c922
$largeCircleAnimationTime = 2s
$mediumCircleAnimationTime = 3s
$smallCircleAnimationTime = 1.5s

$sectionHeight = 100%
$sectionWidth = 100%
$sectionBackgroundColor = #222222
$sectionTransitionFunction = cubic-bezier(0.645, 0.045, 0.355, 1.000)
$sectionBoxShadowWidth = 2px
$sectionBoxShadowColor = rgba(50, 50, 50, 0.75)
$sectionTransition = "all 0.7s 0.3s %s" % $sectionTransitionFunction
$sectionLeftBoxShadow = "%s 0px 3px 0px %s" % ($sectionBoxShadowWidth $sectionBoxShadowColor)
$sectionRightBoxShadow = "-%s 0px 3px 0px %s" % ($sectionBoxShadowWidth $sectionBoxShadowColor)

set-position(n)
  top n
  left n
  right n
  bottom n

#loader
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  z-index 1000
  display flex
  align-items center
  justify-content center
  transition all .3s ease-out

  > .loader-elements,
  > .loader-elements:before,
  > .loader-elements:after
    border 3px solid transparent
    border-radius 50%

  > .loader-elements
    display block
    width $innerBoxWidth
    height $innerBoxHeight
    border-top-color $largeCircleColor
    z-index 1500
    animation 'spin %s linear infinite' % $largeCircleAnimationTime

    &:before, &:after
      content ''
      position absolute

    &:before
      set-position(5px)
      border-top-color $mediumCircleColor
      animation "spin %s linear infinite" % $mediumCircleAnimationTime

    &:after
      set-position(15px)
      border-top-color $smallCircleColor
      animation 'spin %s linear infinite' % $smallCircleAnimationTime

  > .loader-section
    position fixed
    top 0
    width $sectionWidth
    height $sectionHeight
    background $sectionBackgroundColor
    z-index 1000
    transition $sectionTransition

    &.left
      left 0
      box-shadow $sectionLeftBoxShadow

    &.right
      right 0
      box-shadow $sectionRightBoxShadow

  &.loaded
    > .loader-elements
      display none
    > .loader-section
      &.left
        transform translateX('calc(-100% - %s)' % $sectionBoxShadowWidth)
      &.right
        transform translateX('calc(100% - %s)' % $sectionBoxShadowWidth)


@keyframes spin
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)

